/* "#" por el id y así no se llama "div" que puede llegar a confundir más adelante */

/* root se usa en modo generico para agrupar */
:root {
    /* Esto son variables */
    --color-fondo: #bcbcbc;
    --color-border: black;
    --color-boton:  #ecedec;
    --font-family: 'Franklin Gothic Medium';
    --padding-general: 10px;
  }

body {
    background-color: #222222;
    margin: 0;
    padding: 0;
}

/******** CAJA DE PRINCIPAL ********/
#CajaPrincipal {
    width: 70%;
    margin: 20px auto;
    padding: var(--padding-general);
    background-color: #464646;
    border: 4px solid var(--color-border);
    border-radius: 10px; /* Bordes redondeados */

    display: flex; /* contenedor flexible*/
    flex-direction: column; /* determina cómo se apilan los elementos secundarios */
    align-items: center; 
    justify-content: center;
}

/******** CAJA DE CALCULO ********/
#calculo {
  background-color: var(--color-fondo);
  margin: 3%;
  width: 60%; 
  border: 2px solid black;
  padding: var(--padding-general); /* Añadir espacio interno */

  font-family: var(--font-family);
}

/******** CAJA DE OPERADORES ********/
#operadores {
    background-color: #bcbcbc;
    margin: 3%;
    width: 60%; 
    padding: var(--padding-general);

    display: flex;
    flex-direction: row;
    align-items: center; 
    border: 1px solid #ccc;
    
}
#operadores button {
    width: 30px; 
    height: 30px; 
    margin: 5px; /* Margen entre los botones */
    font-size: 16px; /* Tamaño de la fuente */
    border: none;
    cursor: pointer;
    border-radius: 5px; /* boton redondeado */
}

#operadores button:active {
    background-color: rgb(211, 211, 211);
}

/******** CAJA DE EJECUCION boton tryme ********/
#tryme {
    background-color: #347936;
    color: white;
    border: none;
  
    padding: 10px 20px; /* dentro del boton (texto y margen) */
    border-radius: 5px;

    font-size: 20px;
    font-family: var(--font-family);
    text-align: center;
    
    display: inline-block;
   
    margin: 4px 2px;
    cursor: pointer;
}
#tryme:active { /* Active, como si fuera un boton*/
    background-color: #63f368;
}
